.view-port{
  height: 70vh !important;
}


.table-container{
  overflow-x: scroll !important;
}

.hero-body{
  padding: 0px 10px 0px 10px!important;
}

.navbar-brand{
  margin-bottom: 25px !important;
  margin-top: 20px !important;
}

.login-form{
  margin-bottom: 15px !important;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.hero{
  margin-bottom: 15px !important;
  /* height: 25vh !important; */
}

.columns{
  padding: 10px !important;
}